body {
  background-color: #F9F9F9;
}

.m-home {
  margin: 5px;
  .m-btn {
    width: 110px;
    margin: 15px;
    padding: 3px;
    font-size: 20px;
    text-transform: none;
  }
}

.m-help {
  @extend .m-home;
}

.m-panel {
  width: 100%;
  height: 160px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}

.m-play {
  padding: 10px;
  .m-answer {
    padding: 10px;
    .m-answer-btn {
      width: 300px;
      text-transform: none;
      text-align: left;
      font-size: 20px;
      margin: 10px;
      padding: 5px;
      padding-left: 30px;
    }
  }
}

.m-quicktool {
  position: fixed !important;
}

.m-dialog {
  padding: 10px;
  text-align: center;
}

.m-common-button {
  z-index: 20;
  line-height: 48px;
  min-width: 0;
  width: 48px;
  height: 48px;
  margin: 5px;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  background-clip: padding-box;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transition-property: background-color, box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, transform;
  transition-property: background-color, box-shadow, transform, -webkit-transform;
  outline: none;
}

.m-common-google-btn {
  @extend .m-common-button;
  border-radius: 50%;
  background-image: url('/content/images/icons/google-plus.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.m-common-facebook-btn {
  @extend .m-common-button;
  border-radius: 50%;
  background-image: url('/content/images/icons/facebook.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.m-common-twitter-btn {
  @extend .m-common-button;
  border-radius: 50%;
  background-image: url('/content/images/icons/twitter.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

button[md-ink-ripple] {
  color: white;
  position: relative;
}

.m-detail {
  padding: 10px;
}

.m-content {
  font-size: 20px;
  padding: 20px;
}

.m-about-content {
  @extend .m-content;
  text-align: center;
}

.m-tip-content {
  @extend .m-content;
  padding-left: 15%;
}

.m-settings-content {
  @extend .m-content;
  md-icon {
    width: 60px;
    height: 40px;
    font-size: 40px;
  }
}

.black {
  color: black;
}